<h4>Solve for 'x'</h4>
<form action="/calculator/1" method="POST">
<div class="mb-2"> 
<label>Input the function: </label><br>
<input type="text" required name="eq1" placeholder = "a*x**2+b*x+c">
</div>
<div class="mb-2"> 
<label>Input the variable: </label><br>
<input type="text" required name="var" placeholder = "x">
</div>
<div>
<button class="btn btn-primary" type="submit">Solve</button>
<button class="btn btn-primary" type="submit" formaction="/calculator/2">Derive</button>
<button class="btn btn-primary" type="submit" formaction="/calculator/3">Integrate</button>

</div>


</form>