<!DOCTYPE html>
<html lang="en">
<head>
{% include 'bootstrap.html' %}
</head>
<body>
{% include 'nav.html' %}

<div class="container">
<h1 class="text-center mt-2 mb-4">Algebra Calculators</h1>
    
 <div class="row">
        <div class="col-md-4">
            <h2 class="text-center mt-2 mb-4">Resolve for "x"</h2>
            <p>Insert an equation on variable "x" using the Python nomemclature (Eg. x^2 as x**2). It uses the sympy library to find the roots of f(x) = 0. </p>
            
         
        </div>
        <div class="col-md-4">
            <h2 class="text-center mt-2 mb-4">Derivatives</h2>
            <p>Sympy can compute derivatives. Introduce an equation of x below (Eg.x**2*exp(x)) </p>
            
        </div>
        <div class="col-md-4">
            <h2 class="text-center mt-2 mb-4">Integration</h2>
            <p>With Sympy you can compute integrals. Introduce an equation below</p>
            
        </div>
    </div>
    <div class="text-center mt-2 mb-4">
      {% include 'calculator_form.html' %}
    </div>
   
</div>
<div class="container">

{% if method =='GET' %}
  
{% endif %}
</div>


</body>
</html>